@font-face {
  font-family: Luckiest Guy;
  src: url(font/Luckiest_Guy/LuckiestGuy-Regular.ttf);
}

* {
  font-family: Luckiest Guy;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #4f2727;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffacf7;
}

h1 {
  padding-top: 1.5rem;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.container {
  display: flex;
}

#start-game-button {
  letter-spacing: 0.2rem;
  padding: 1rem 8rem;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 3rem;
  margin-top: 3.2rem;
  background-color: antiquewhite;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    transform 0.1s;
}

#start-game-button:hover {
  background-color: #4f2727;
  color: antiquewhite;
}

#start-game-button:active {
  transform: rotate(3deg);
}
img {
  width: 420px;
}

@keyframes pulse {
  0% {
    transform: scale(0.85);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.85);
  }
}
img:hover {
  animation: pulse 1.5s linear infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.55;
  }
  75% {
    opacity: 0.33;
  }
  100% {
    opacity: 0.23;
  }
}

@keyframes vanish {
  0% {
    opacity: 0.23;
  }
  50% {
    opacity: 0.11;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
#warning {
  position: absolute;
  margin: auto;
  top: 30rem;
  z-index: 2;
  font-size: 2rem;
}

@keyframes flyUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}

@keyframes flyDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200px);
  }
}

#information-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}
#player-information-container {
  padding-right: 30rem;
}
