@font-face {
  font-family: Luckiest Guy;
  src: url(font/Luckiest_Guy/LuckiestGuy-Regular.ttf);
}

* {
  font-family: Luckiest Guy;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #4f2727;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffacf7;
  background-image: url(images/Pasted\ image.png);
  background-size: 200px;
  animation: backgroundFall 20s linear infinite;
}
@keyframes backgroundFall {
  0% {
    background-position: 80% -100%;
  }
  100% {
    background-position: 0% 100vh;
  }
}

.container {
  display: flex;
  flex-direction: column;
}
.container h1 {
  z-index: 3;
  font-weight: 400;
  margin-bottom: 10rem;
  font-size: 4.5rem;
  letter-spacing: 0.5rem;
  animation: hu__hu__ infinite 2s ease-in-out;
}

@keyframes hu__hu__ {
  50% {
    transform: translateY(30px);
  }
}

#landing-page-button {
  width: fit-content;
  margin: auto;
  letter-spacing: 0.2rem;
  padding: 1rem 8rem;
  border-radius: 3rem;
  cursor: pointer;
  font-size: 3rem;
  background-color: antiquewhite;
  text-align: center;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    transform 0.2s;
}

#landing-page-button:hover {
  background-color: #4f2727;
  color: antiquewhite;
}

#landing-page-button:active {
  transform: rotate(10deg);
}
